.modal {
    font-size: 12px;
    border-style: solid;
    background-color: tan;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    vertical-align: middle;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }